
body{
  font-family: Trebuchet MS;
  color: #333333;
  background-image:
  url('sky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.topdiv{
  border-top:2px solid #ffe5e5;
  border-bottom:2px solid #ffe5e5;
  text-align: center;
  font-family: Georgia;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#head1{
  line-height: 0.5em;
}

.middiv{
  font-family: Garamond;
  margin: auto;
  text-align: center;
  margin-top: 25px ;
  width: 400px;
  border: 0px solid;
  padding: 1px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #bfbfd9, #ffe5e5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  /*opacity: 0.7;*/
}

#head2{
  line-height: 0.5em;
}

table, th, td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  margin: 25px 0;
  table-layout: fixed;
  width: 100px;
 box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

th{
  /*border: hidden;*/
background-image: linear-gradient(to bottom right, #fcddcf, #d9d9d9);
}

th, td {
  padding: 10px;
  text-align: center;
}

td{
  background-image: linear-gradient(rgba(252, 221, 207, 0.4), rgba(217, 217, 217, 0.4));
}

#row{
  background-image: linear-gradient(rgba(191, 191, 217, 0.6), rgba(255, 229, 229, 0.6));
}